__pycache__/
.pytest_cache/
.venv/
.env
data/raw/*
data/interim/*
data/processed/*
data/debug/
data/quality/*

!data/raw/.gitkeep
!data/interim/.gitkeep
!data/processed/.gitkeep
!data/quality/.gitkeep

*.parquet
*.csv
reports/*.json
